body {
    margin-top: 75px;
    padding: 0;
    width: 100%;
    height: 100%;
}
.MaterialType buttonGroup{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    text-align: center !important;
    justify-content: space-between !important;
}

.imgNP{
    position: relative !important;
}

.imgText{
    position: absolute !important;
    top :200px !important;
    left:310px !important;
    font-family:Impact,charcoal,sans-serif !important;
    color:#758283 !important;
    font-size: large !important;
    
}

.NP-Color {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
}

.NP-Color img{
    width:15% !important;
    height: 15% !important;
}
/*
        label { 
            float: left !important; 
        } 
        
        span { 
            display: flex !important; 
            overflow: hidden !important; 
            padding: 0px 4px 0px 6px !important; 
        } 
        
        input { 
            width: 30% !important; 
        } */